:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

body{
  padding: 0px;
margin: 0px;
}

.header {
  background-color: #ccc;
}

.arrow {
  width: 10px;
  height: 5px;
}